{%extends './header.html'%}
{%block content%}
	<h1 class="text-light fs-1 fw-bold bg-danger text-center p-2">Edit Teacher</h1>
	<hr>
	<form action="/update-teacher" method='post'>
		<label class="text-dark fw-bold">Enter Name-</label>
		<input type="text" name="name" value="{{ teacher.name }}">
		<label class="text-dark fw-bold">Enter Age-</label>
		<input type="number" name="age" value="{{ teacher.age }}">
		<label class="text-dark fw-bold">Enter Subject-</label>
		<input type="text" name="subject" value="{{ teacher.subject }}">
		<input type="hidden" name="id" value="{{ teacher.id }}">
		<input type="submit" class="btn btn-primary">
	</form>
{%endblock%}