{%extends './header.html'%}
{%block content%}
	<h1 class="text-light p-2 fs-2 fw-bold bg-danger text-center ">Manage Teachers</h1>
	<hr>
	<a href="/new-teacher" class="btn btn-primary">New Teacher</a>
	<hr>
	<table class="table table-bordered table-dark">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Subject</th>
			<th>Delete</th>
		</tr>
	{%for t in teachers%}
		<tr>
			<td>{{ t.name }}</td>
			<td>{{ t.age }}</td>
			<td>{{ t.subject }}</td>
			<td>
			<a href="/delete-teacher/{{ t.id }}" class="btn btn-danger">Delete</a>
			</td>
			</tr>
	{%endfor%}
	</table>
{%endblock%}
