{%extends './header.html'%}
{%block content%}
	<h1 class="text-light fs-1 fw-bold bg-danger text-center p-2">Edit Student</h1>
	<hr>
	<form action="/update-student" method='post'>
		<label class="text-dark fw-bold">Enter Name-</label>
		<input type="text" name="name" value="{{ student.name }}">
		<label class="text-dark fw-bold">Enter Age-</label>
		<input type="number" name="age" value="{{ student.age }}">
		<label class="text-dark fw-bold">Enter Course-</label>
		<input type="text" name="course" value="{{ student.course }}">
		<input type="hidden" name="id" value="{{ student.id }}">
		<input type="submit" class="btn btn-primary">
	</form>
{%endblock%}