{%extends './header.html'%}
{%block content%}
	<h1 class="text-light p-2 fs-2 fw-bold bg-danger text-center ">Manage Students</h1>
	<hr>
	<a href="/new-student" class="btn btn-primary">New Student</a>
	<a href="/" class="btn btn-primary">Dashboard</a>
	<hr>
	<table class="table table-bordered table-dark">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Course</th>
			<th>Fees</th>
			<th>Print</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	{%for s in students%}
		<tr>
			<td>{{ s.name }}</td>
			<td>{{ s.age }}</td>
			<td>{{ s.course }}</td>
			<td>
				{{s.fees}}
			</td>
			<td> 
				<a href="/print-student/{{ s.id }}" class="btn btn-info"> Print </a>
			</td>
			<td>
				<a href="/edit-student/{{ s.id }}" class="btn btn-warning"> Edit </a>
			</td>
			<td>
			<a href="/delete-student/{{ s.id }}" class="btn btn-danger">Delete</a>
			</td>
			</tr>
	{%endfor%}
	</table>
{%endblock%}
