{%extends './header.html'%}
{%block content%}


<h1 class="text-light p-2 fs-2 fw-bold bg-danger text-center ">Student Id Card</h1>
<hr>
<table class="table table-bordered table-dark">
	<tr>
		<th>Id</th>
		<td>{{student.id}}</td>
	</tr>
	<tr>
		<th>Name</th>
		<td>{{student.name}}</td>
     </tr>
	 <tr>
		<th>Age</th>
		<td>{{student.age}}</td>
	 </tr>
	 <tr>
		<th>Course</th>
		<td>{{student.course}}</td>
	 </tr>
</table>
<td> 
	<a href="/manage-students" class="btn btn-success"> Back </a>
</td>

{%endblock%}